.App {
  text-align: center;
}

.appContent{
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #2f2f37;
}

::-webkit-scrollbar-thumb{
  border: 3px solid #8585ad;
  background: #8585ad;
}

a {
  text-decoration: none;
  color: #F2F2F3;
}