
.container {
    display: flex;
    justify-content: flex-start;
    width: 860px;
    margin-left: 20%;
}

.leftSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 60px;
    text-align: left;
    max-width: 320px;
}

.centerSubContainer {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;       
}

.mb30 {
    margin-bottom: 30px;
}

.opacity {
    opacity: 0.4;
}