.PFC{
    display: flex;
    align-items: center;     
    justify-content: space-between;
}

.container{    
    display: flex;
    justify-content: center;
    width: 100%;
}

.subContainer{    
    text-align: center;
    width: 520px;
}